 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../images/psi_texture.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 966px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  width: 686px;
  margin: 93px auto 0;
}

.u-section-1 .u-text-2 {
  width: 826px;
  margin: -1px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 642px;
  margin: 29px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 72px;
}

.u-section-1 .u-container-layout-1 {
  padding: 12px 22px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 72px;
}

.u-section-1 .u-container-layout-2 {
  padding: 23px 35px 21px;
}

.u-section-1 .u-text-3 {
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 73px;
}

.u-section-1 .u-container-layout-3 {
  padding: 23px 35px 21px;
}

.u-section-1 .u-text-4 {
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  font-size: 3rem;
  width: 826px;
  margin: 0 auto;
}

.u-section-1 .u-form-1 {
  height: 286px;
  width: 645px;
  margin: 0 auto;
}

.u-section-1 .u-input-1 {
  font-weight: 700;
  font-size: 1.875rem;
}

.u-section-1 .u-input-2 {
  font-weight: 700;
  font-size: 1.875rem;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
}

.u-section-1 .u-group-1 {
  min-height: 237px;
  width: 630px;
  margin: 16px auto 39px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-1 .u-text-6 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 23px 0 0;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 797px;
  }

  .u-section-1 .u-btn-3 {
    border-style: none none solid;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 637px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-5 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 737px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    width: 540px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }
}